sudo: false

language: node_js
node_js:
  - v4
  - v5

os:
  - linux
  
before_script:
  - npm install -g bower

after_success: npm run coveralls

matrix:
  fast_finish: true

notifications:
  email: false
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8c1769bff63cbd033bf7
    on_success: always
    on_failure: always
    on_start: never
